pkgbase = xlibre-input-libinput
	pkgdesc = Generic input driver for the XLibre server based on libinput
	pkgver = 1.5.0.1
	pkgrel = 3
	url = https://github.com/X11Libre/xf86-input-libinput
	arch = aarch64
	arch = x86_64
	groups = xlibre-drivers
	license = MIT
	makedepends = libx11
	makedepends = libxi
	makedepends = meson>=0.50
	makedepends = xlibre-server-devel
	makedepends = xorgproto
	makedepends = X-ABI-XINPUT_VERSION=26.0
	depends = glibc
	depends = libinput>=1.11
	provides = xf86-input-libinput
	provides = xf86-input-libinput-xlibre
	conflicts = xf86-input-libinput
	conflicts = xf86-input-libinput-xlibre
	conflicts = xorg-server<1.19.0
	conflicts = X-ABI-XINPUT_VERSION<26
	conflicts = X-ABI-XINPUT_VERSION>=27
	replaces = xorg-input-libinput-xlibre
	source = xf86-input-libinput-xlibre-xf86-input-libinput-1.5.0.1.tar.gz::https://github.com/X11Libre/xf86-input-libinput/archive/refs/tags/xlibre-xf86-input-libinput-1.5.0.1.tar.gz
	b2sums = af5543cc59a94f1ecdce92b1cf205896855c36ddbac7efb9669e1ec6641e2e4b4ced3a417ea308c6c49f4a73a377dd8b647c303e6314e7808a56b7589bc2c209

pkgname = xlibre-input-libinput
